NEXT_PUBLIC_SITE_URL=https://tarascents.com
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/601143042883?text=Hi%20TARA%2C%20I%27d%20love%20help%20with%20a%20fragrance%20order.
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/tara_scents.my
NEXT_PUBLIC_CONTACT_EMAIL=hello@tarascents.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-5CKGF6KDSF
NEXT_PUBLIC_GTM_ID=GTM-NMH4BCHS
NEXT_PUBLIC_METRICOOL_HASH=2c19ac38152a09d912e40e7278562f5a
NEXT_PUBLIC_PAYMENTS_ENABLED=false
NEXT_PUBLIC_PAYMENT_PROVIDER=toyyibpay
NEXT_PUBLIC_DUITNOW_QR_ENABLED=false
TOYYIBPAY_SECRET_KEY=
TOYYIBPAY_CATEGORY_CODE=
TOYYIBPAY_SANDBOX=false
TOYYIBPAY_ENABLE_DUITNOW_QR=false
INSTAGRAM_GRAPH_VERSION=v23.0
INSTAGRAM_BUSINESS_ACCOUNT_ID=
INSTAGRAM_GRAPH_ACCESS_TOKEN=
INSTAGRAM_USERNAME=tara_scents.my
ORDER_NOTIFICATION_EMAIL=hello@tarascents.com
NEWSLETTER_RECIPIENT_EMAIL=hello@tarascents.com
HIRING_NOTIFICATION_EMAIL=hello@tarascents.com
NETLIFY_EMAILS_PROVIDER=
NETLIFY_EMAILS_PROVIDER_API_KEY=
HIRING_ADMIN_TOKEN=
